#adminmenu #toplevel_page_fs-settings .menu-icon-generic div.wp-menu-image:before {
	font-family: FontAwesome !important;
    content: "\f155";
	font-size: 1.3em !important;
}
.fs-clearer {
	clear: both; 
	height: 0; 
	line-height: 0; 
	display: block;
}
.fs-message{
	margin: 20px 0;
    font-size: 1em;
    border-left: 5px solid #ADD8E6;
    background: #fff;
    padding: 10px;
    padding-left: 20px;
    box-shadow: 1px 1px 3px 1px rgba(0,0,0,0.1);
}

.fs-hidden{display: none;}

#fs-shortcode{float:right;font-size:14px;}

.fs-main-wrap {margin-right: 20px; max-width: 600px;}
.fs-content-wrap {float:left; width:70%;}
.fs-page-title {font-weight: normal; margin-bottom:30px;}
.fs-tab-title {margin-top: 20px}

.fs-main-wrap .fs-settings {max-width: 600px;}
.fs-main-wrap .fs-settings input,
.fs-main-wrap .fs-settings select,
.fs-main-wrap .fs-settings textarea{
	max-width: 100%;
}
.fs-main-wrap .fs-settings form label {display: block; width:170px; float:left; line-height: 2.25em; clear:left;}
.fs-main-wrap .fs-settings form input[type="submit"] {display: block; float:left; margin-top:30px; clear:left;}

.fs-full-width {width:100%;}
.fs-custom-css label {float:none;}
.fs-custom-css textarea {width:100%; height:300px;}

.fs-meta-fields h4 {font-size: 1.6em; color:#ccc; margin-bottom: 10px; padding-bottom:10px; border-bottom: 1px solid #eee;}
.fs-meta-fields label {width:200px; display: inline-block;}
.fs-meta-fields select {max-width: 200px;}
.fs-parent-campaign-details li {line-height: 1em;}
.fs-parent-campaign-details li label {width:100px;}
.fs-datetimepicker-wrap {margin:1em 0;}
.fs-datetimepicker-trigger {position: relative; width:185px;}
.fs-datetimepicker-trigger i {margin-right:5px;}
.fs-datetimepicker-trigger input {visibility: hidden; position: absolute; top:0; left:0;}

.fs-contributor-list {overflow: auto; max-height:600px;}
.fs-contributor-list li{padding:5px;}
.fs-contributor-info{float:left; width:80%;}
.fs-contributor-remove{font-size:1em;float:right; width:15%;}
.fs-contributor-remove i{font-size:1.4em;cursor:pointer; color:red;}
.fs-odd {background: #f0f0f0;}

#fs-saving-wrap {position: fixed; z-index:9999; width:100%;height:100%;top:0; left:0; background:rgba(0,0,0,0.25);}
#fs-saving {position:absolute; top:50%; left:50%; padding:100px 0; box-shadow:0 0 100px 30px rgba(0,0,0,0.25); background:#fff; width:300px;margin-left:-150px; margin-top:-100px; text-align: center;}