table.ui-datepicker-calendar {border-collapse: separate;}
.ui-widget-header {background: #eee;}
.ui-state-default,.ui-widget-content .ui-state-default,.ui-widget-header .ui-state-default {background: none;}
.ui-datepicker-today .ui-state-highlight.ui-state-default{border:1px solid #d3d3d3;}
.ui-datepicker-today .ui-state-highlight.ui-state-default:hover {border:1px solid #999999;}
.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight {border:none;}
.ui-datepicker td a, .ui-datepicker td span{text-align: center;}
.ui-datepicker .ui-datepicker-calendar .ui-state-active {background-color: #38c; border-color: #38c;color: #fff;text-shadow: 0 1px 0 #059;}
.va-multi .ui-datepicker .ui-datepicker-calendar .ui-state-active {background-color: #ffffff;	border-color: #d3d3d3;	color:#555;	text-shadow:none;}
.va-multi .ui-datepicker .ui-datepicker-calendar .ui-state-highlight a {background-color: #38c;	border-color: #38c;	color: #fff;	text-shadow: 0 1px 0 #059;}
.ui-datepicker {width:auto; z-index:9999;}
@media screen and (max-width: 400px){
	.ui-datepicker {font-size: 0.9em;}
}